
<%- include("header.ejs") %> 
<body>
  <section class="vh-100 ">
    <div class="container">
      <h1 class="add"><%= listName %> </h1>
                <form class="form" method ="post" action="/">
                  <input type="text" class="input" placeholder="Add new..." name="newItem">
                  <button type="submit" class="add" value= "<%= listName %>" name="listName">Add Task</button>
                </form>
              

                <% for (var i = 0; i < todoList.length; i++) { %>
                  <form class="tasks" method="post" action="/delete">
                    <input hidden name="listID" value="<%= listID %>">
                    <div class="task" data-id="1656753543679" name="todo_name"> <%= todoList[i].content %> <button type="submit" name = "delete" value= <%=`${todoList[i]._id}`%> >Delete</button></div>
                    </form>
          
                  
                    
                       

                <% } %>
              </div>
            </div>
      <%- include("footer.ejs") %> 
    
  </section>
  